p {
  display: inline;
}


.bold {
  font-weight: bold;
}

.big_toms_sleeping_bag {
  overflow: hidden;
  height: 3000px;
  width: 4000px;
  position: fixed;
}

.newline1 {
  position: relative;
  left:-25px;
}


.newline2 {
  position: relative;
  left:-30px;
}


.newline3 {
  position: relative;
  left:-40px;
}


.newline4 {
  position: relative;
  left:-55px;
}


.newline5 {
  position: relative;
  left:-76px;
}

.newline6 {
  position: relative;
  left:-100px;
}


.newline7 {
  position: relative;
  left:-120px;
}


.newline8 {
  position: relative;
  left:-140px;
}


.newline9 {
  position: relative;
  left: -160px;
}


.newline10 {
  position: relative;
  left:-180px;
}

.newline11 {
  position: relative;
  left:-200px;
}


.newline12 {
  position: relative;
  left:-220px;
}


.newline13 {
  position: relative;
  left:-230px;
}


.newline14 {
  position: relative;
  left: -240px;
}


.newline15 {
  position: relative;
  left:-250px;
}

.newline16 {
  position: relative;
  left:-260px;
}


.newline17 {
  position: relative;
  left:-270px;
}